quill-editor {
    width: 100%;
    min-height: 200px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

img {
    max-width: 100%;
}

.ql-editor h1 {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

.ql-editor .content-line {
    margin-left: 20px;
    margin-bottom: 10px;
}

.ql-toolbar.custom-toolbar {
    display: none;
}

.ql-editor .line-container {
    position: relative;
}

.ql-editor .line-container:hover .plus-button {
    display: inline-block;
}

.ql-editor img[style*="width: 200px"] {
    width: 200px !important;
}

.ql-editor img[style*="width: 400px"] {
    width: 400px !important;
}

.ql-editor img[style*="width: 100%"] {
    width: 100% !important;
}

.ql-editor .image-container input{
    width: 100%;
}

.ql-editor .image-container .caption{
    display: none;
}

